<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Harsh Vardhan. It has it all.</p>
        <h4>Image of 2B from Nier Automata</h4>
        <img class="portrait" src="/img/2b.jpg">
    </div>

    {{>footer}}
</body>

</html>