<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/2b.jpg" alt="">
        <img src="/img/Komi.png" alt="">
        <img src="/img/Miku1" alt="">
        <img src="/img/Miku2" alt="">
        <p>Mode anime girls will be added.</p>
        <p>{{helpText}}</p>
    </div>

    {{>footer}}
</body>

</html>